[submodule "external/vdbfusion"]
	path = external/vdbfusion
	url = https://github.com/PRBonn/vdbfusion.git
[submodule "external/stonefish"]
	path = external/stonefish
	url = https://github.com/Arcod7/stonefish.git
[submodule "sim/stonefish_ros2"]
	path = sim/stonefish_ros2
	url = https://github.com/Arcod7/stonefish_ros2.git
[submodule "external/open3d"]
	path = external/open3d
	url = https://github.com/isl-org/Open3D.git
[submodule "external/gtsam"]
	path = external/gtsam
	url = https://github.com/borglab/gtsam.git
